@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");

:root {
    --dark: #1d1d1d;
    --light: #fff;
    --green: #28a92b;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: "Signika Negative", sans-serif;
    margin: 0;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--green);
    font-weight: 600;
    color: var(--light);
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


/********  GsapDebugging   ********/
.control-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    background: black;
    border-radius: 20px;
    padding: 5px 20px;
    z-index: 999;
}

.control-panel-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.range-input {
    width: 100%;
}

.timeline-position {
    width: 90px;
    padding-left: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

button {
    background: greenyellow;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 15px;
    cursor: pointer;
}

button:disabled,  button:disabled:hover {
    cursor: not-allowed;
}
